.container{
    height:504v;
    width:40vw;
    background-color: aqua;

}
.box{
    height:4vh;
    width:4vw;
    background-color: yellowgreen;
    transition-property: transform;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
    transition-delay: 1s;

}
.translate{
    transform: translateX(10vw) translateY(10vh);
}