body{
    background-color: aqua;
}
nav{
    background-color:red;
}
h1{
    background-color: rgb(222, 216, 216);
}
h2{
    background-color: chartreuse;
}
div{
background-color: yellow;
}
a{
    background-color: rgba(236, 238, 239, 0.967);
}
li{
    background-color: brown;
}
main{
    background-color: orange;
}