/* *{
    margin: 0px;
    padding: 0px;
} */

.a{   
    /* weight:50px ; */
    background-color: blue;
    padding: 30px;
    border: 7px solid black;
    /* margin: 10px solod blue ; */
    box-sizing: border-box;
}
.b{
    background-color: rgb(3, 67, 67);
    padding:50px;
    margin: 40PX;
    border: 20px solid yellow;
     box-sizing: border-box;
}
